

.city{
    font-size: 1rem;
    padding: 0.2rem;
    margin-right: 0.8rem;
    border-radius: 5px;
}

.country{
    font-size: 1rem;
    padding: 0.2rem;
    margin-right: 0.8rem;
    border-radius: 5px;
}

.search{
    font-size: 1rem;
    border-radius: 5px;
}

.display{
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
    margin-top: 3rem;
}

.app{
    background-color:lightsteelblue;
    margin : 5% 0 0 25%;
    padding : 1.4rem;
    padding-top: 2rem;
    width : 45%;
    border-radius: 15px;
    box-shadow : 5px 5px 5px 5px;
}

.app:hover{
    box-shadow: 8px 8px 8px 8px;
}

@media screen and (max-width:800px){
    .app{
        width: auto;
        margin : 0;
        margin-top: 40%;
        box-shadow: none;
        border-radius: none;
    }
    .searchbar{
        display: flex;
        flex-direction: column;
    }
    .city{
        margin-bottom: 0.5rem;
        width : 80%;
    }
    .country{
        margin-bottom: 0.5rem;
        width : 80%;
    }
    .search{
        margin-bottom: 0.7rem;
        width : 60%;
    }
}